<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>
<body>
<div class="wrap" ></div>

<nav mat-tab-nav-bar class="navig" [backgroundColor]="background"  mat-align-tabs="end" >
    <div class="logo">GOOD MEAL</div>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/home">Home</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/user-profile">Profile</a>
    <a mat-tab-link class="a" [active]="true" style= "margin-top: 0.5px" href="http://localhost:8080/selections">Selections</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#about">About</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#contact">Contact</a>
</nav>

<div  class="gradient-hor bg-pan-left" style="z-index: 1;text-align: center">
    <header _ngcontent-ugx-c129="" style="margin-top:60px" class="docs-primary-header component-page-header">
        <div  class="docs-primary-header component-page-header h1"   _ngcontent-ugx-c129="" style="height:30px;"></div>
    </header>
<div class="selection-page-body"></div>

<mat-card  class="mat-elevation-z4 text-focus-in " style="text-align: center;vertical-align: middle;
    margin:auto;margin-top:180px;width:50%;position:center;border-radius:20px;padding:60px;box-shadow: #d4d4d4;margin-bottom: 60px">
    <h2 mat-card-title class="text-focus-in" > Your selections</h2>
     <div class="w3-container" style="text-align: center;position:center; vertical-align: middle">
        <table style="font-family: Roboto,sans-serif;text-align: center; background: transparent " class="w3-table  mat-table">
            <thead class="thead-dark">
            <tr>
                <th class="w3-right-align mat-headline" style="font-size: 17px;" scope="col">#</th>
                <th class="w3-right-align mat-headline" style="font-size: 17px;" scope="col">Name</th>
                <th class="w3-right-align mat-headline" style="font-size: 17px;" scope="col">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let selection of userSelections.data">
                <td>{{ selection.id }}</td>
                <td class="w3-right-align mat-option"><a href="http://localhost:8080/selection-card/{{ selection.id }}">{{ selection.attributes.selectionName }}</a></td>
                <td class="w3-right-align " style="width: max-content"><button mat-stroked-button type="add" name="add" (click)="removeSelection(selection.id)">Delete selection</button></td>
            </tr>
            </tbody>
        </table>
     </div>
        <mat-form-field appearance="outline" style="margin-top: 20px">
            <mat-label>New selection name</mat-label>
            <input matInput type="text" id="new-selection-name-placeholder" placeholder="New selection name" [(ngModel)]="newSelectionName">
        </mat-form-field>
        <p></p>
        <button style="text-align: center;position: center;margin-top: 10px;" class="mat-elevation-z1" mat-stroked-button type="submit" name="Submit" value="Change password" (click)="createNewSelection()">Create selection</button>
</mat-card>
</div>
</body>
</html>