@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/_theming.scss";
@import "~@angular/core/testing";
@import"~@angular/material/divider";
@import  url(https://fonts.googleapis.com/css?family=Montserrat);

* {box-sizing: border-box;}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-bottom:20px;
    z-index: 2000;
}

.example-full-width {
    width: 100%;
}







body {
    background: white;
    color: black;
    text-align: left;

    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}


.custom-dropdown select,ng-form {
    position: center;
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
}

.custom-dropdown select,ng-select {
    cursor:default;
    background-color: transparent;
    color: #2a2a2b;
    font-size: inherit;

    border: #e9e9e9;
    margin: 0;
    border-radius: 0.2px;
    text-indent: 1px;
    text-overflow: '';
    -webkit-appearance: button-bevel;
    size: 1px;
}


.logo {
    font-size: 25px;
    padding: 7px;
    position: relative;
    margin-right: 675px;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}


.component-page-header {
    font-size: 7px;
    background-attachment: scroll;
    font-weight: 200;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;


}
.navig{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2000;
    background-color: #FFFFFF;
    padding: 7px;
}
.h1 {
    padding-left: 50px;
    padding-top: 6px;
    color: black;
    font-size: 17px;
    position: relative;
}
.a:hover{
    background-color: whitesmoke;

}
mat-divider {
    border-width: 0;
    border-style: solid;
    border-top: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: Montserrat,serif;
    background: #FFFFFF;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    color: #fbae17;
    display: inline-block;
    margin-left: 5px;
}

.bounceball { /* in progress*/
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
    animation-iteration-count: 5;
}
.bounceball:before {  /* in progress*/
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
}


@keyframes bounce {  /* in progress*/
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

.bg-pan-left {
    -webkit-animation: bg-pan-left 10s infinite both;
    animation: bg-pan-left 10s infinite both;
}

@-webkit-keyframes bg-pan-left {
    0% {
        background-position: 80% 50%;
    }
    100% {
        background-position: 0 60%;
    }
}
@keyframes bg-pan-left {
    0% {
        background-position: 90% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.gradient-hor {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-size: 600% 100%;
    background-image: linear-gradient(90deg,#6977C9,#F7E3B6,#EEC76D,#95A1DA,#6878CA);
//animation: bg-pan-left;
}



