* {box-sizing: border-box;}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding-bottom:20px;
    z-index: 2000;
}

.example-full-width {
    width: 100%;
}

body {
    background: white;
    color: black;
    text-align: left;

    font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.logo {
    font-size: 25px;
    padding: 7px;
    position: relative;
    margin-left:30px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.component-page-header {
    font-size: 7px;
    background-attachment: scroll;
    font-weight: 200;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.navig{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2000;
    background-color: #FFFFFF;
    padding: 7px;
    width:100%;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between
}

.h1 {
    padding-left: 50px;
    padding-top: 6px;
    color: black;
    font-size: 17px;
    position: relative;
}

.a {
    margin-top: 0.5px
}

.a:hover{
    background-color: whitesmoke;
}
.aa:visited {
    color: #c5c5de;
}

mat-divider {
    border-width: 0;
    border-style: solid;
    border-top: 0;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: Montserrat,serif;
    background: #FFFFFF;
    overflow: scroll;
}

.wrap {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    color: #fbae17;
    display: inline-block;
    margin-left: 5px;
}

.gradient-hor {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
    max-height: 5000px;
    top: 0;
    left: 0;
    /*background-size: 600% 100%;
    background-image: linear-gradient(90deg,#6977C9,#F7E3B6,#EEC76D,#95A1DA,#6878CA);*/
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:center;
    background: white;
    z-index: 3000;
    width: 100%;
    height:100%
}

.header {
    height:30px;
    background-image: linear-gradient(90deg,#6977C9,#F7E3B6,#EEC76D,#95A1DA,#6878CA);
}

.mat-form-field {
    padding-bottom:10px
}

.table {
    font-family: Roboto,sans-serif;
    text-align: right;
    margin-right:50px;
    background: transparent
}




