<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    @import "~@ng-select/ng-select/themes/default.theme.css";
    @import "~@angular/material/_theming.scss";
    @import "~@angular/core/testing";
    @import"~@angular/material/divider";
    @import  url(https://fonts.googleapis.com/css?family=Montserrat);
    </style>
<title></title>
</head>
<body>
<div class="wrap" >
</div>

<nav mat-tab-nav-bar class="navig" [backgroundColor]="background"  mat-align-tabs="end">
    <div class="logo">GOOD MEAL</div>
    <a mat-tab-link class="a" [active]="true" style= "margin-top: 0.5px" href="http://localhost:8080/home">Home</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/user-profile">Profile</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/selections">Selections</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#about">About</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#contact">Contact</a>
</nav>

<div  class="gradient-hor bg-pan-left">
    <header _ngcontent-ugx-c129="" style="margin-top:60px" class="docs-primary-header component-page-header">
        <div  class="docs-primary-header component-page-header h1"   _ngcontent-ugx-c129="" style="height:30px">RECIPE SEARCH</div>
    </header>

<div style="display:flex;flex-wrap: nowrap;margin-top:40px" >
<div style="margin-left: 50px; padding-top: 20px; width:800px; color:black">

<mat-form-field appearance="outline">
     <mat-label>Select meal</mat-label>
     <mat-select  panelClass="example-panel-" (selectionChange)="selectChangeHandlerMeal($event)" style="max-width:170px;opacity: 0.7">
       <mat-option value="default" hidden></mat-option>
       <mat-option *ngFor="let meal of mealsList.data" [value]="meal.id">{{meal.attributes.type}}<mat-divider></mat-divider></mat-option>
     </mat-select>
</mat-form-field>
<br>
<br>
<mat-form-field style="padding-bottom:20px" appearance="outline">
     <mat-label>Select dish</mat-label>
     <mat-select #dish (selectionChange)="selectChangeHandlerDish($event)">
       <mat-option value="default" hidden></mat-option>
       <mat-option *ngFor="let dish of dishesList.data" [value]="dish.id">{{dish.attributes.type}}<mat-divider></mat-divider></mat-option>
     </mat-select>
</mat-form-field>
<br>

<mat-form-field style="padding-bottom:20px" appearance="outline">
    <mat-label>Select cuisine</mat-label>
    <mat-select #cuisine (selectionChange)="selectChangeHandlerCuisine($event)">
       <mat-option value="default" hidden></mat-option>
       <mat-option *ngFor="let cuisine of cuisinesList.data" [value]="cuisine.id">{{cuisine.attributes.type}}<mat-divider></mat-divider></mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field style="padding-bottom:20px" appearance="outline">
    <mat-label>Select label</mat-label>
    <mat-select #label (selectionChange)="selectChangeHandlerLabel($event)">
        <mat-option value="default" hidden></mat-option>
        <mat-option *ngFor="let label of labelsList.data" [value]="label.id" >{{label.attributes.label}} <mat-divider></mat-divider></mat-option>
    </mat-select>
</mat-form-field>
<br>
<mat-form-field appearance="outline" style="padding-bottom:20px">
     <mat-label>Search by recipe name</mat-label>
     <input (change)= "selectChangeHandlerSearchBox($event)" matInput>
</mat-form-field>

<form class="example-form-include">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ingredient to include</mat-label>
    <mat-select #label (selectionChange)="selectIncludeIng($event)">
      <mat-option value="default" hidden></mat-option>
      <mat-option *ngFor="let ing of ingredientsList.data" [value]="ing.id" >{{ing.attributes.name}} <mat-divider></mat-divider></mat-option>
  </mat-select>
  </mat-form-field>
</form>

<form class="example-form-exclude" >
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ingredient to exclude</mat-label>
      <mat-select #label (selectionChange)="selectExcludeIng($event)">
          <mat-option value="default" hidden></mat-option>
          <mat-option *ngFor="let ing of ingredientsList.data" [value]="ing.id" >{{ing.attributes.name}} <mat-divider></mat-divider></mat-option>
      </mat-select>
  </mat-form-field>
</form>

<button mat-stroked-button appearance="legacy" (click) = "selectClickHandlerRecipe()" color="primary">Submit</button>

</div>

<mat-divider vertical style="margin-left: 100px"></mat-divider>

<div class="card my-5" style="text-align: right;margin-left: 170px;">
    <div class="w3-container" style="text-align: right; margin-right:50px">
        <table style="font-family: Roboto,sans-serif;text-align: right; margin-right:50px;background: transparent " class="w3-table  mat-table">
            <thead class="thead-dark">
            <tr>
                <th class="w3-right-align mat-headline" style="font-size: 17px;" scope="col">Name</th>
                <th class="w3-right-align mat-headline" style="font-size: 17px;" scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recipe of visibleRecipes.data">
                <td class="w3-right-align mat-option" ><a href="http://localhost:8080/recipe-card/{{recipe.id}}">{{ recipe.attributes.name }}<mat-divider></mat-divider></a> </td>
                <td class="w3-right-align ">{{ recipe.id }}</td >
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
</div>
</body>
</html>