<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title></title>
    <style>@import "~@angular/material/_theming.scss";
    </style>
</head>
<body>
<div class="wrap" >
</div>
<nav mat-tab-nav-bar class="navig" [backgroundColor]="background"  mat-align-tabs="end" >
    <div class="logo">GOOD MEAL</div>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/home">Home</a>
    <a mat-tab-link class="a" [active]="true" style= "margin-top: 0.5px" href="http://localhost:8080/user-profile">Profile</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/selections">Selections</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#about">About</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#contact">Contact</a>
<!--    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/logout">Sign out</a>-->
</nav>
<div  class="gradient-hor bg-pan-left">
    <header _ngcontent-ugx-c129="" style="margin-top:60px" class="docs-primary-header component-page-header">
        <div  class="docs-primary-header component-page-header h1"   _ngcontent-ugx-c129="" style="height:30px"></div>
    </header>

    <div style="display:flex;flex-wrap: nowrap;margin-left: 40px">
    <div class="users-list" *ngIf="adminAccess" style="margin-top:30px">
    <div class="card-body">
        <table class="table mat-table-sticky">
        <thead class="thead-dark">
        <tr>
            <th ma scope="col">#</th>
            <th scope="col">Login</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of usersList.data">
            <td>{{ user.id }}</td>
            <td><a href="http://localhost:8080/user-card/{{user.id}}">{{ user.attributes.login }}</a></td>
            <td>{{ user.attributes.name }}</td>
            <td>{{ user.attributes.surname }}</td>
<!--            <td><button  style="text-align: center;border-radius: 3px;position: center;margin-top: 5px;" class="mat-elevation-z1" mat-stroked-button type="submit" name="Submit" value="Change password" (click)="changeUserPassword()">Change password</button></td>-->
        </tr>
        </tbody>
        </table>
    </div>
    </div>
    </div>

<mat-card  class="mat-elevation-z4 text-focus-in " style="text-align: center;vertical-align: middle;
    width:50%;position:center;margin: auto;margin-top: 180px; border-radius:20px;padding:60px;box-shadow: #d4d4d4;">
    <button style="text-align: center;position: center;margin-top: 10px;" class="mat-elevation-z1" mat-stroked-button type="submit" name="Submit" value="Logout" (click)="logout()">Logout</button>
    <br>
    <h2 mat-card-title class="text-focus-in" > {{ activeUser.name }} {{ activeUser.surname }}</h2>
    <div class="example-container " style="text-align: center;">
        <p> Mail: {{ activeUser.email }}</p>
<!--        <p>Birthday: {{ activeUserBdayDay }}.{{ activeUserBdayMonth }}.{{ activeUserBdayYear}}</p>-->
        <button style="text-align: center;position: center;margin-top: 10px;" class="mat-elevation-z1" mat-stroked-button type="submit" name="Submit" value="Change password" (click)="showPassUpdMenu()">Change password</button>
    </div>
    <br>
    <div class="example-container" *ngIf="showPasswordUpdateMenu" style="text-align: center;position:center;margin-top:20px;">
        <input matInput style="border-radius: 3px;" type="password"  id="password-placeholder"  placeholder="New password"  [(ngModel)]="newPassword">
        <p></p>
        <input matInput  type = "password" style="margin-top: 5px;border-radius: 3px;"  id="password-retype-placeholder" placeholder="Confirm password" [(ngModel)]="newPasswordVerificatiion">
        <p></p>
        <button  style="text-align: center;border-radius: 3px;position: center;margin-top: 5px;" class="mat-elevation-z1" mat-stroked-button type="submit" name="Submit" value="Submit" (click)="hidePassUpdMenu()">Submit</button>
        <p></p>
        <mat-error style="font-size: 12px;" *ngIf="showDifferentPasswordsLabel">*passwords must match</mat-error>
    </div>
</mat-card>
</div>
</body>
</html>