.example-container {
    margin-left: 8px;
    text-align: center;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



body  {
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #FFFFFF;
    margin: 0;
}

.gradient-hor {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background-size: 200% 800%;
    background-image: linear-gradient(90deg,#6977C9,#F7E3B6,#EEC76D,#6878CA);

}

input {
    font-size: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-align: center;
}

.mat-card {
    text-align: center;
    vertical-align: middle;
    margin:auto;
    margin-top:180px;
    width:50%;
    position:center;
    border-radius:20px;
    padding:80px;
    box-shadow: #d4d4d4
}
.mat-stroked-button {
    text-align: center;
    position: center;
    margin-top: 20px;
}
