<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>
<body>

    <div class="topnav">
        <a class="active" href="http://localhost:4200/home">Home</a>
        <a href="#about">About </a>
        <a href="#contact">Contact</a>
        <a href="http://localhost:4200/user-profile">Profile</a>
        <div class="search-container">
            <form autocomplete="off" action="/action_page.php">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="search your fav recipe..." name="myRecipe">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>

    <div class="recipe-card">
        <h1>{{ recipeName }}</h1>
        <img src="{{ recipeImg }}" class="user-img" />
        <p>Cook time: {{ recipeCookTime }} min.</p>
        <p>Description: {{ recipeDescr }}</p>
        <p>{{ rating }}</p>
        <a href="http://localhost:4200/recipe_review/{{ recipeId }}">Rate</a>
    </div>

    <div class="ingridients">
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ingr of relatedIngredients.data">
                    <td>{{ ingr.id }}</td>
                    <td><a href="http://localhost:4200/ingredient-card/{{ingr.id}}">{{ ingr.attributes.name }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>