<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title></title>
</head>
<body class="gradient-hor">
<form  id="addUserModal" #addForm="ngForm" (ngSubmit)="onAddUser(addForm)" style="text-align: center;position: center">
   <mat-card  class="mat-elevation-z4 text-focus-in " style="text-align: center;vertical-align:center;position: center;
  margin-left:520px; margin-bottom:100px;margin-top:100px;width:25%;border-radius:20px;padding:20px;box-shadow: #d4d4d4;size: inherit">
       <h1 mat-card-title class="text-focus-in" >Register</h1>
         <div class="example-container " style="text-align: center;">

               <mat-form-field appearance="outline" class="form-group" style="margin-top: 5px">
                  <mat-label>Your login</mat-label>
                  <input matInput type="text" ngModel name="login" class="form-control" id="login" placeholder="Login" required>
                   <mat-icon matSuffix>face</mat-icon>
               </mat-form-field>

               <div class="form-group">
                  <label for="password">Your password</label>
                  <input type="text" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
               </div>
               <div class="form-group">
                  <label for="name">Your name</label>
                  <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
               </div>
               <div class="form-group">
                  <label for="surname">Your surname</label>
                  <input type="text" ngModel name="surname" class="form-control" id="surname" placeholder="Surname" required>
               </div>
               <div class="form-group">
                  <label for="email">Your Email Address</label>
                  <input type="text" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
               </div>
               <div class="form-group">
                  <label for="bday">Your birthday date</label>
                  <input type="date" ngModel name="bday" class="form-control" id="bday" placeholder="Birthday" required>
               </div>
               <div class="modal-footer">
                  <button type="button" id="add-user-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Register!</button>
               </div>

         </div>

   </mat-card>

</form>


</body>
</html>