<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <title></title>
    <style>@import "~@angular/material/_theming.scss";</style>
</head>
<body>
<div  class="gradient-hor bg-pan-left">
<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <mat-card style="width:50%;position:center;text-align: center;margin:auto;margin-top: 250px;font-family: Roboto,sans-serif; padding:60px">
            <mat-card-header style="position: relative; text-align:center; font-size:25px">Leave feedback</mat-card-header>

            <br>

            <div class="example-container">
                <form #addForm="ngForm">
                    <div class="form-group" hidden>
                        <input ngModel name="recipeId">
                    </div>
                    <div class="form-group" hidden>
                        <input ngModel name="userLogin">
                    </div>
                    <div class="form-group" style="text-align:center;">
                        <label style="margin-right:10px" for="rating">Rating</label>
                        <input matInput type="number" min="1" max="10" ngModel name="rating" class="form-control" id="rating" placeholder="Rating" required>
                    </div>
                    <br>
                    <div class="form-group"  style="text-align:center;margin-right:5px">
                        <label style="margin-right:10px" for="review">Review</label>
                        <input matInput type="text" ngModel name="review" class="form-control" id="review" placeholder="Review" required>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button  mat-stroked-button type="button" id="add-review"   data-dismiss="modal" (click)="Close()">Close</button>
                        <button mat-stroked-button style="margin-left:20px" [disabled]="addForm.invalid"  (click)="addReview(addForm)">Post!</button>
                    </div>
                </form>
            </div>
        </mat-card>
        </div>
    </div>
</div>>
</body>
</html>