<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title></title>
    <style>@import "~@angular/material/_theming.scss";
    </style>
</head>
<body>
<div class="wrap" >
</div>
<nav mat-tab-nav-bar class="navig" [backgroundColor]="background"  mat-align-tabs="end" >
    <div class="logo">GOOD MEAL</div>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/home">Home</a>
    <a mat-tab-link class="a" [active]="true" style= "margin-top: 0.5px" href="http://localhost:8080/user-profile">Profile</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/selections">Selections</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#about">About</a>
    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#contact">Contact</a>
    <!--    <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/logout">Sign out</a>-->
</nav>
<div  class="gradient-hor bg-pan-left">

    <header _ngcontent-ugx-c129="" style="margin-top:60px" class="docs-primary-header component-page-header">
        <div  class="docs-primary-header component-page-header h1"   _ngcontent-ugx-c129="" style="height:30px"></div>
    </header>

    <mat-card  class="mat-elevation-z4 text-focus-in " style="text-align: center;vertical-align: middle;
    width:50%;position:center;margin: auto;margin-top: 180px; border-radius:20px;padding:60px;box-shadow: #d4d4d4;">
        <h2 mat-card-title class="text-focus-in" > {{ selectedUser.name }} {{ selectedUser.surname }}</h2>
        <div class="example-container " style="text-align: center;">
            <p> Mail: {{ selectedUser.email }}</p>
            <!--        <p>Birthday: {{ activeUserBdayDay }}.{{ activeUserBdayMonth }}.{{ activeUserBdayYear}}</p>-->
        </div>
    </mat-card>
</div>

<div>
    <table class="table mat-table-sticky">
        <thead class="thead-dark">
        <tr>
            <th ma scope="col">Recipe Id</th>
            <th scope="col">Rating</th>
            <th scope="col">Review</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let review of selectedUsersRatings">
            <td><a href="http://localhost:8080/recipe-card/{{review.recipeId}}">{{ review.recipeId }}</a></td>
            <td>{{ review.rating }}</td>
            <td>{{ review.review }}</td>
<!--            <td><button  style="text-align: center;border-radius: 3px;position: center;margin-top: 5px;" class="mat-elevation-z1" mat-stroked-button type="submit" name="Submit" value="Change password" (click)="changeUserPassword()">Change password</button></td>-->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>