<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div class="user-profile-body">
    <h1>{{ activeUser.name }} {{ activeUser.surname }}</h1>
    <p>Mail: {{ activeUser.email }}</p>
    <p>Birthday: {{ activeUserBdayDay }}.{{ activeUserBdayMonth }}.{{ activeUserBdayYear }}</p>
</div>

<div class="users-list" *ngIf="adminAccess">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Login</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of usersList.data">
                <td>{{ user.id }}</td>
                <td>{{ user.attributes.login }}</td>
                <td>{{ user.attributes.name }}</td>
                <td>{{ user.attributes.surname }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>