<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title></title>
    <style>@import "~@angular/material/_theming.scss";
    </style>
</head>
<body>
<div class="wrap" >
</div>
<div class="navig">
    <div class="logo">GOOD MEAL</div>
    <div>
        <nav mat-tab-nav-bar [backgroundColor]="background"  style="align-items: flex-end">

            <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/home">Home</a>
            <a mat-tab-link class="a" [active]="true" style= "margin-top: 0.5px" href="http://localhost:8080/user-profile">Profile</a>
            <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="http://localhost:8080/selections">Selections</a>
            <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#about">About</a>
            <a mat-tab-link class="a" [active]="false" style= "margin-top: 0.5px" href="#contact">Contact</a>
        </nav>
    </div>
</div>
<div  class="gradient-hor">
    <header _ngcontent-ugx-c129="" style="margin-top:60px" class="docs-primary-header component-page-header">
        <div  class="docs-primary-header component-page-header h1"   _ngcontent-ugx-c129="" style="height:30px"></div>
    </header>

    <mat-card  class="mat-elevation-z4 text-focus-in " style="text-align: center;vertical-align: middle;
    width:50%;position:center;margin: auto;margin-top: 180px; border-radius:20px;padding:60px;box-shadow: #d4d4d4;">

        <div style="display:flex;flex-wrap: nowrap;margin-left: 60px">
            <div class="users-list" *ngIf="adminAccess" style="margin-top:30px">
                <div class="card-body">
                    <table class="table mat-table-sticky">
                        <thead class="thead-dark">
                        <tr style="padding:10px">
                            <th scope="col">#</th>
                            <th scope="col">Login</th>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="padding:10px" *ngFor="let user of usersList.data">
                            <td>{{ user.id }}</td>
                            <td><a href="http://localhost:8080/user-card/{{user.id}}">{{ user.attributes.login }}</a></td>
                            <td>{{ user.attributes.name }}</td>
                            <td>{{ user.attributes.surname }}</td>
                            <td><button  style="text-align: center;border-radius: 3px;position: center;" class="mat-elevation-z1" mat-stroked-button type="submit" name="Submit" value="Give admin access" (click)="grantAdminAccess(user.attributes.login)">Grant admin access</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="example-container" *ngIf="adminAccess" style="text-align: center;position:center;margin-top:20px;">
            <button style="text-align: center;position: center;margin-top: 10px;" class="mat-elevation-z1" mat-stroked-button type="submit" name="Submit" value="Update data" (click)="openUpdateData()">Update data</button>
        </div>
    </mat-card>

</div>
</body>
</html>